@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";
@import "./utilidades/animacao.css";

@import "./global/header.css";
@import "./global/footer.css";

/* Utilidades */
@import "./utilidades/componentes.css";