* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  background-color: var(--cor-p1);
  flex-direction: column;
}

ul {
    padding: 0px;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }