.cards-produto {
  margin: 200px 200px;
  width: 1000px;
}

.produto {
  display: flex;
  align-items: center;
  position: relative;
}

.img-prod {
  max-width: 534px;
}

.prod-conteudo {
  background-color: #FDEBBA;
  border-radius: 8px;
  padding: 40px 70px;
  max-width: 534px;
  position: absolute;
  z-index: 2;
  left: 450px;
}

.prod-conteudo h2{
  font-size: 28px;
  margin-bottom: 14px;
}

.prod-conteudo p {
  font-size: 20px;
  margin-bottom: 14px;
}
