.cards-produto {
  max-width: 1300px;
}

.produto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
  position: relative;
}

.img-prod {
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  right: -20px;
}

.prod-conteudo {
  background-color: var(--cor-p2);
  max-width: 50%;
  padding: 30px 45px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  left: -40px;
}

.prod-conteudo h2 {
  font-size: 32px;
  margin-bottom: 12px;
}

.prod-conteudo p {
  font-size: 18px;
  margin-bottom: 20px;
}

.prod-conteudo a {
  background-color: var(--cor-p3);
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #D7A62F;
}

@media (max-width: 800px){
  .produto {
    flex-direction: column;
  }

  .img-prod {
    right: 80px;
    z-index: 1;
  }

  .prod-conteudo{
    top: -50px;
    left: 150px;
  }
}